# Data Science Job Salaries 

The database contains information about several companies. This information shows the size and location of each company, the presence of employees during work, the specializations in each of them, the type of employment if it is full-time, part-time, contract and freelance, experience, total salary, the currency in which the payment is made and its equivalent in USD, and the rate of remote completion
(https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries)

**Import pandas as pd**

In [1]:
import pandas as pd

**Read ds_salaries.csv as a dataframe called sal**

In [2]:
sal = pd.read_csv('ds_salaries.csv')

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [7]:
sal.shape

(607, 12)

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

**drop first column**

In [9]:
sal.drop(["Unnamed: 0"],inplace=True, axis=1)

**checking for null values**

In [11]:
sal.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

**checking for unique value**

In [12]:
sal.nunique()

work_year               3
experience_level        4
employment_type         4
job_title              50
salary                272
salary_currency        17
salary_in_usd         369
employee_residence     57
remote_ratio            3
company_location       50
company_size            3
dtype: int64

**sort the table based on salary**

In [14]:
sal = sal.sort_values(by=['salary_in_usd'])
sal.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
176,2021,MI,FT,Data Scientist,58000,MXN,2859,MX,0,MX,S
238,2021,EN,FT,Data Scientist,4000,USD,4000,VN,0,VN,M
185,2021,MI,FT,Data Engineer,4000,USD,4000,IR,100,IR,M
77,2021,MI,PT,3D Computer Vision Researcher,400000,INR,5409,IN,50,IN,M
179,2021,MI,FT,Data Scientist,420000,INR,5679,IN,100,US,S

**Replacing some of the values**

In [16]:
sal.remote_ratio.replace([100,50,0],['Fully Remote','Partially Remote','On-site'], inplace=True)
sal.experience_level.replace(['EN','MI','SE','EX'],['Entry','Mid','Senior','Executive'],inplace=True)
sal.employment_type.replace(['FT','PT','CT','FL'],['Full Time','Part Time','Contract','Freelance'],inplace=True)

**Save as CSV file**

In [17]:
sal.to_csv('ds_salaries_cleaned.csv')